#demo span {
    height: 10px;
    line-height: 20px;
}

#demo span {
    display: inline-block;
    position: relative;

}

#demo span.head {
    margin-left: 40px;
}

#demo span.space {
    margin-right: 4px;

}

#demo span.current::after {
    content: "";
    position: absolute;
    display: inline-block;
    height: 70px;
    top: 50%;
    right: -3px;
    transform: translateY(-50%);
    border-left: 2px solid white;
    animation: blink-caret 0.9s step-end infinite;

}

#demo span.current.space::after {
    right: -6px;

}
